<% if flash[:notice].present? %> 
  <h2><%= flash[:notice] %></h2> 
<% end %>
<form action='/login' method="post">
<%= form_tag login_path, :method => :post do %>
  <%= label_tag :username %>
  <%= text_field_tag :username, params[:username] %>
  <%= label_tag :password %>
  <%= password_field_tag :password %>
  <%= submit_tag "Sign in", class: "btn btn-large btn-primary" %>
<% end %>