<div id="scrolling-section">
<!-- ------------------------------------------------- -->
<!-- top section only appears if you ARE logged in -->
<!-- ------------------------------------------------- -->


<% if @current_user %>

<!-- the save loop button and field-->
<form id="loop-save">
  <nav>
    <ul>
      <li class="loop-save">
        <a href="#" class="save-loop" title="save">SAVE</a>
        <input name="loop-name" id="loop-name" placeholder="un-named loop" required>
      </li>
    </ul>
  </nav>
</form>

<!-- an empty spot for adding the saved loops as buttons -->
	<nav id="loops-saved">
    <ul id="loop-nav">
      <!-- this gets populetd by ajax -->
		</ul>
  </nav>

<% end %>


<!-- ------------------------------------------------- -->
<!-- following section only appear if you are NOT logged in -->
<!-- ------------------------------------------------- -->

<% unless @current_user %>

  <!-- presents the sign in and sign up buttons and forms -->
  <nav id='user'>
    <ul>
      <li>
        <h2>You Are Currently in Demo Mode</h2> 
        <p>You can PLAY sounds and CREATE one loop but you cannot SAVE.</p>
        <h2>SIGN-UP or SIGN-IN so you can access all the features and get creative with Loople now!</h2>
        <p>Once signed-in you can CREATE, SAVE, EDIT and PLAY multiple loops on the fly.</p>
      </li>
      <li>
      	<a href="#" id="sign-in" class="toggle-visibile">Sign In</a>
        <div class="sign-in">
          <%= form_tag login_path, :method => :post do %>
            <%= text_field_tag :username, params[:username], :placeholder => "username" %>
            <%= password_field_tag :password, :placeholder => "password" %>
            <%= submit_tag "Sign in" %>
          <% end %>
        </div>
      </li>
      <li>
        <a href="#" id="sign-up" class="toggle-visibile">Sign Up</a>
        <div class="sign-up">
          <% if flash[:notice].present? %> 
            <h2><%= flash[:notice] %></h2> 
          <% end %>
          <%= form_for @user do |f| %>
            <%= f.text_field :username, :placeholder => "username" %>
            <%= f.email_field :email, :placeholder => "email address" %>
            <%= f.password_field :password, :placeholder => "password" %>
            <%= f.password_field :password_confirmation, :placeholder => "confirm password" %>
            <%= f.submit "Sign Up" %>
          <% end %>
        </div>
      </li>
    </ul>
  </nav>

<% end %>


<!--The user can modify the tempo -->
<nav id='controls'>
  <ul>
    <li>
      <a href="#" name="Switch metronome on/off" id="startBpm" class="startBpm" >turn metronome on</a>
    </li>
    <li class="bpm">
      <a href="#" class="bpm-button bpmMinus" id="bpmMinus">-</a><a href="#" class="bpm-button bpmPlus" id="bpmPlus">+</a><span> <span id="bpm" class="bpm-value">120</span> BPM</span>
    </li>
    <li>
      <a class="button-git" href="https://github.com/citizengit/loople">Fork Loople on GitHub</a>
    </li>
    <li>
      <div class="social-farcebook">
        <!-- FACEBOOK -->
        <div id="social-face" class="fb-share-button" data-href="http://loople.herokuapp.com/" data-type="button_count"></div>
      </div>
      <div class="social-twit">
        <!-- TWITTER -->
        <a href="https://twitter.com/share" id="social-twitter" class="twitter-share-button" data-text="Check out Loople, a fun music/visual javascript experience!" data-url="http://loople.herokuapp.com" data-lang="en">Tweet</a>
      </div>

    </li>

  </ul>
</nav>

</div>

