<!-- ------------------------------------------------- -->
<!-- top section only appears if you ARE logged in -->
<!-- ------------------------------------------------- -->


<% if @current_user %>
<!-- the save loop button and field-->
	<form id="loop-save">
	  <input name="loop-name" id="loop-name" placeholder="Name your loop" required>
	  <input name="loop-colour" id="loop-colour" type="color" />
	  <button>Save Loop</button>
	</form>

<!-- an empty spot for adding the saved loops as buttons -->
	<nav id="loops-saved">
    <ul>
			<% @current_user.loops.each do |loop| %>
				
				<!-- things gonna get funky here -->
				<script type="text/javascript">
					// create an empty array for the loop
					var loopids_<%= loop.id %> = [];
					var loopkeys_<%= loop.id %> = [];
					var looptimes_<%= loop.id %> = [];
				</script>

				<% loop.keystrokes.each do |key| %>
					<script type="text/javascript">
						// populate the arrays with the values
						loopids_<%= loop.id %>.push(<%= key.id %>);
						loopkeys_<%= loop.id %>.push('<%= key.key %>');
						looptimes_<%= loop.id %>.push(<%= key.time %>);

						console.log(loopkeys_<%= loop.id %>)
						console.log(looptimes_<%= loop.id %>)		

					</script>
				<% end %>
				
				<li>
					<a href="#" id="loop_<%= loop.id %>" class="load-loop" style="background: #<%= loop.colour %>">
						<span class="queue">cue</span>
						<%= loop.name %>
					</a>
				</li>
			<% end %>
		</ul>
  </nav>

<% end %>


<!-- ------------------------------------------------- -->
<!-- following section only appear if you are NOT logged in -->
<!-- ------------------------------------------------- -->

<% unless @current_user %>
	
	<button id="sign-in" class="toggle-visibile">Sign In</button>
	<button id="sign-up" class="toggle-visibile">Sign Up</button>

	<div class="sign-in">
		<%= form_tag login_path, :method => :post do %>
		  <%= text_field_tag :username, params[:username], :placeholder => "username" %>
		  <%= password_field_tag :password, :placeholder => "password" %>
		  <%= submit_tag "Sign in" %>
		<% end %>
	</div>

	<div class="sign-up">
		<% if flash[:notice].present? %> 
	 		<h2><%= flash[:notice] %></h2> 
		<% end %>
		<%= form_for @user do |f| %>
			<%= f.text_field :username, :placeholder => "username" %>
		  <%= f.email_field :email, :placeholder => "email address" %>
		  <%= f.password_field :password, :placeholder => "password" %>
		  <%= f.password_field :password_confirmation, :placeholder => "confirm password" %>
			<%= f.submit "Sign Up" %>
		<% end %>
	</div>

<% end %>


