<% if @current_user %>
<!-- the save loop button and field-->
	<form id="loop-save">
	  <input name="loop-name" id="loop-name" placeholder="Name your loop" required>
	  <input name="loop-colour" id="loop-colour" type="color" />
	  <button>Save Loop</button>
	</form>

<!-- an empty spot for adding the saved loops as buttons -->
	<nav id="main">
    <ul id="loops-saved">
			<% @current_user.loops.each do |loop| %>
				<li>
					<a href="#" id="<%= loop.id %>" style="background: #<%= loop.colour %>">
						<span class="queue">queue</span>
						<%= loop.name %>
					</a>
				</li>
			<% end %>
		</ul>
  </nav>

<% end %>


<% unless @current_user %>
	
	<button id="sign-in">Sign In</button>
	<button id="sign-up">Sign Up</button>

	<div class="sign-in">
		<%= form_tag login_path, :method => :post do %>
		  <%= text_field_tag :username, params[:username], :placeholder => "username" %>
		  <%= password_field_tag :password, :placeholder => "password" %>
		  <%= submit_tag "Sign in" %>
		<% end %>
	</div>

	<div class="sign-up">
		<% if flash[:notice].present? %> 
	 		<h2><%= flash[:notice] %></h2> 
		<% end %>
		<%= form_for @user do |f| %>
			<%= f.text_field :username, :placeholder => "username" %>
		  <%= f.email_field :email, :placeholder => "email address" %>
		  <%= f.password_field :password, :placeholder => "password" %>
		  <%= f.password_field :password_confirmation, :placeholder => "confirm password" %>
			<%= f.submit "Sign Up" %>
		<% end %>
	</div>

<% end %>


