<!DOCTYPE html>
<html>
<head>
  <title>Loople</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <meta property="og:title" content="Loople"/>
<<<<<<< HEAD
  <meta property="og:image" content="https://loople.herokuapp.com/assets/loople_fb.png"/>
=======
  <meta property="og:image" content="http://loople.herokuapp.com/assets/loople_fb.png"/>
>>>>>>> a479065ab6f1f33e4367c24818ce5f2a8d41beff
  <meta property="og:description" content="Check out Loople, a fun music/visual javascript experience!"/>
  <meta property="og:url" content="https://loople.herokuapp.com"/>
  <meta property="og:type" content="website"/>
</head>



<body id="body" class="<%= params[:controller] %> <%= params[:action] %>">
  <div id="column">
    <nav id="main">
      <ul>
        <li><img src="assets/loople_logo.png"></li>
        <li><a id="button-instructions" href="#">About &amp; Instructions</a></li>
        <%== usernav %>
      </ul>
    </nav>
    
    <%= yield %>  
     
  </div>

  <!-- anim window is the animation stage, loop window is the loop stage, loop head is the animated bar that sweeps accross in time -->
  <div id="anim-window">
    <!-- <div class="tempoGrid"></div> -->
    <!-- Divs creating 26 circles -->
    <div id="circleQ" class="circle_animated"></div>
    <div id="circleW" class="circle_animated"></div>
    <div id="circleE" class="circle_animated"></div>
    <div id="circleR" class="circle_animated"></div>
    <div id="circleT" class="circle_animated"></div>
    <div id="circleY" class="circle_animated"></div>
    <div id="circleU" class="circle_animated"></div>
    <div id="circleI" class="circle_animated"></div>
    <div id="circleO" class="circle_animated"></div>
    <div id="circleP" class="circle_animated"></div>
    <div id="circleA" class="circle_animated"></div>
    <div id="circleS" class="circle_animated"></div>
    <div id="circleD" class="circle_animated"></div>
    <div id="circleF" class="circle_animated"></div>
    <div id="circleG" class="circle_animated"></div>
    <div id="circleH" class="circle_animated"></div>
    <div id="circleJ" class="circle_animated"></div>
    <div id="circleK" class="circle_animated"></div>
    <div id="circleL" class="circle_animated"></div>
    <div id="circleZ" class="circle_animated"></div>
    <div id="circleX" class="circle_animated"></div>
    <div id="circleC" class="circle_animated"></div>
    <div id="circleV" class="circle_animated"></div>
    <div id="circleB" class="circle_animated"></div>
    <div id="circleN" class="circle_animated"></div>
    <div id="circleM" class="circle_animated"></div>
  </div>
  <div id="loop-window">
    <div id="loop-head"></div>
  </div>
  <div id="pop-up">
      <h2>Welcome to Loople!</h2>
      <p>To get started, the keys are sectioned into specific areas.<br> For example, the green area is percussion, the blue area is vocals, etc. </p>
      <p>- To test sounds, hold down the spacebar<br> 
         - When spacebar is not held down, sounds are plotted to the current loop<br>
         - To remove a sound, click on the dot<br>
         - You will need to sign up if you wish to save your loops when signed in<br> 
         - Once signed in and you have created a loop, to save simply name the loop and hit 'Save'<br>
         - To toggle between loops, select from the sound bank created on the left<br>
         - To clear a loop, click the blue 'C' button<br>
      </p>
      <img src="assets/keys.png">
      <button id="popupButton">Close</button>
  </div>
</body>

<script type="text/javascript">
// we only want to track keypress on the loople page (which is actually every page now)
  $(document).ready(function(){
    keyPress();
  });

  // Twitter share function
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

  // google analytics tracking
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-49479736-2', 'loople.herokuapp.com');
  ga('send', 'pageview');

</script>

<div id="fb-root"></div>
<script type="text/javascript">(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
</html>
